@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
html {
  font-family: "Montserrat";
  font-size: 12px;
}

header {
  height: 100px; 
  display: flex;
  align-items: center;
  background-color: white; 
  }
  header img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }

  header h1 {
    margin: 0; 
    padding-right: 9%;
    flex-grow: 1;
    text-align: center;
    font-size: 4rem;
    color: rgb(16, 75, 34);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
  
body {
    background-color: rgba(119, 213, 96, 0.858);
}

.container {
  width: 100%;
  height: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.brand {
  text-align: center;
  font-size: 4rem;
  color: rgba(2, 27, 9);
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

form {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  background-color: rgb(223, 223, 223);
}

input {
  width: 90%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 2rem;
  background-color: rgb(223, 223, 223);
  display: inline-block;
}
form ion-icon {
  width: 8%;
  font-size: 3rem;
  margin-bottom: -8px;
  color: rgb(75, 75, 75);
  display: inline-block;
}
.text-box {
    width: 60%;
    height: 80%;
    margin: 0 auto; 
    background-color: rgba(255, 255, 255, 0.498); 
    padding: 20px; 
    border: 5px solid rgb(16, 75, 34);
    border-radius: 0;
  }
  
  .text-box p {
    font-size: 2rem;
    padding: 2%;
  }
.text-box:hover {
    background-color: rgba(143, 177, 116, 0.598);
}  
  
.search-result {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-gap: 25px;
  grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}
.item {
  width: 100%;
  border-radius: 8px;
  background-color: rgb(7, 27, 13);
  padding: 15px;
  overflow: hidden;
}

.item:hover {
    transform: scale(1.05); 
  }
  
.item img {
  width: 100%;
  height: 300px;
  border-radius: 4px;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-result .title {
  color: whitesmoke;
  margin: 20px 10px 0 0;
  font-size: 1.8rem;
  font-weight: 400;
}
.view-btn {
  text-decoration: none;
  text-align: center;
  width: 130px;
  padding: 10px 0;
  background-color: #344334;
  color: whitesmoke;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 20px;
  border-radius: 4px;
  align-self: flex-start;
}
.view-btn:hover{
    background-color: #2d2d2e;
}
.item-data {
  color: whitesmoke;
  display: block;
  margin-top: 10px;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}

.container.initial .brand {  
  font-size: 7rem;
}
.container.initial form {
  max-width: 700px;
  margin-bottom: 6%;
  height: 60px;

}
.container.initial form input {
  padding: 20px;
  font-size: 3rem;
  height: 60px;
}
.container.initial form:hover {
    background-color: rgba(143, 177, 116, 0.598);    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }

.container.initial form input:hover{
    background-color: rgba(143, 177, 116, 0.598);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
} 
.slideshow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2; 
    z-index: -1; 
 }
 .mySlides {
    display: none;
    width: 100%;
    height: 100%;
 }
 

 .fade {
    animation-name: fade;
    animation-duration: 3s;
 }
 
 @keyframes fade {
    from {
       opacity: 0
    }
    to {
       opacity: 1
    }
 }

@media (max-width: 768px) {
  .search-result {
    grid-gap: 10px;
  }
  .container.initial .brand {
    font-size: 4rem;
  }
  .container.initial form {
    max-width: 500px;
  }
  .container.initial form input {
    padding: 10px;
    font-size: 2rem;
  }


}

